# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*               text=auto eol=lf

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore      text
*.md            text

# Sources
*.[java]  text diff=java

#
# Exclude files from exporting
#
.gitattributes  export-ignore
.gitignore      export-ignore

# Files which are explicitly binary
*.gz     binary !eol
*.xz     binary !eol
*.bz2    binary !eol
*.tar    binary !eol
*.png    binary !eol
*.jpg    binary !eol
*.gif    binary !eol

# Generated sources
*.SC linguist-vendored
